.square-container {
    width: 100px;
    height: 100px;
    background-color: #3a4747;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

.square {
    width: 80px;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;               /* Para centralizar conteúdo */
    align-items: center;         /* Alinha verticalmente */
    justify-content: center;     /* Alinha horizontalmente */
    border: 2px solid #333;
    background-color: #f0f0f0;
  }

.square-container:hover {
    background-color: #5f7676;
    
}

.square-text {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    opacity: 1; 
}
